<!doctype html>
<html lang="en">

    <head>
        <%- include('../partials/head'); %> 
    </head>

    <body class="text-center">
        
        <!-- Page Header and Image -->
        <h1>Customize Your Character</h1>
        <img id="characterDisplay" src="/images/square-blue.png" alt="Character Image">
        
        <!-- Name, Shape, and Color -->
        <form>
            <div class="form-group">
                <label for="characterName" class="sr-only">Character Name</label>
                <input type="text" class="form-control" id="characterName" placeholder="Display Name">
            </div>
            <div class="form-group">
                <label for="characterShape"  class="sr-only">Character Shape</label>
                <select class="form-control" id="characterShape">
                    <option value="none">Select Shape</option>
                    <option value="blue">Square</option>
                    <option value="orange">Circle</option>
                    <option value="purple">Triangle</option>
                </select>
            </div>
            <div class="form-group">
                <label for="characterColor"  class="sr-only">Character Color</label>
                <select class="form-control" id="characterColor">
                    <option value="none">Select Color</option>
                    <option value="blue">Red</option>
                    <option value="orange">Green</option>
                    <option value="purple">Blue</option>
                </select>
            </div>
            <a class="btn btn-secondary btn-lg" href="/game-room" role="button">Let's Go</a>
        </form>

        <%- include('../partials/not-signed-in-nav-and-scripts'); %>

    </body>

</html>