<!doctype html>
<html lang="en">

    <head>
        <%- include('../partials/head'); %> 
    </head>

    <body class="text-center">
   
        <!-- Title -->
        <h1>Retrio Games</h1>

        <!-- Gif of Game -->
        <img src="/images/snake.gif" alt="Snake Game Gif">

        <!-- Play Button -->
        <div>
            <a href="/character-customization" role="button" class="btn btn-secondary btn-lg">Play Now</a>
        </div>

        <%- include('../partials/not-signed-in-nav-and-scripts'); %>

    </body>

</html>