<!doctype html>
<html lang="en">

    <!-- HEAD -->
    <head>
        <%- include('../partials/head'); %>
    </head>

    <!-- BODY -->
    <body class="text-center">

        <!-- Title -->
        <h1>Retrio Games</h1>

        <!-- Email, Passowrd, and Confirm Password -->
        <form action='\sign-in' method='POST'>
            <label for="inputEmail" class="sr-only">Email Address</label>
            <input type="email" id="inputEmail" name='email' class="form-control" placeholder="Email Address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name='password' class="form-control" placeholder="Password" required>
            <button type="submit" class="btn btn-secondary btn-lg" >Sign In</button>
        </form>
        <ul class="nav justify-content-center">

        <li class="nav-item">
            <a class="nav-link" href="/sign-up">Sign Up</a>
        </li>
      </ul>
    </body>
</html>
