<!doctype html>
<html lang="en">

    <head>
        <%- include('../partials/head'); %> 
    </head>

    <body class="text-center">
   
        <!-- Title -->
        <h1>Retrio Games</h1>

        <p>Test</p>m

    </body>

</html>