@import "game-room.css";

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    background-color: black;
    border-spacing: 0;
    margin: auto;
    text-align: center;
}

td {
    border: 2px solid white;
    border-radius: 2px;
    width: 16px;
    height: 16px;
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: red;
    border-radius: 10px;
}